doctype html
html
  head
    title
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800", rel="stylesheet")
    link(href="/css/app.css", rel='stylesheet')
  body
    div#app
      //- nav#categories
      //-   ul
      //-     li
      //-       i.fa.fa-plane(aria-hidden='true')
      //-       | Flights
      //-     li
      //-       i.fa.fa-bed(aria-hidden='true')
      //-       | Accommodation
      //-     li
      //-       i.fa.fa-university(aria-hidden='true')
      //-       | Things to see
      //-     li
      //-       i.fa.fa-calendar-o(aria-hidden='true')
      //-       | Events
      section#flights(v-show='section == 1')
        div.title
          | Chose flights
        div(class='option' v-for='flight in flights' @click="select('flight', flight, $event)")
          ul(style='display: inline-block; list-style-type: none;')
            li
              | {{ flight.date }}
            li
              img(src='img/takeoff-the-plane.png' width="40px")
            li.departure
              span
                | Departure
              | {{ flight.timeDepart }}
              | {{ flight.airportFrom }}
            li
              img(src='img/plane-landing.png' width="40px")
            li.arrival
              span
                | Arrival
              | {{ flight.timeArrive }}
              | {{ flight.airportTo }}
            li.right
              | {{ flight.fromLoc }} 
              i.fa.fa-arrow-right(aria-hidden='true')
              | {{ flight.toLoc }} 
            li.right
              | {{ flight.airline }}
            li.right
              | {{ flight.price }}
        div.btn.next(v-on:click="next")
          | Next
      section#accommodation(v-show='section == 2')
        div.title
          | Chose accommodation
        div(class='option' v-for='accommodation in accommodations' @click="select('accommodation', accommodation, $event)")
          ul(style='display: inline-block;')
            li
              img(v-bind:src="accommodation.photo")
            li.des
              span.name
                | {{ accommodation.hotel_name }}
              span.type
                | Hotel
              span.address
                | {{ accommodation.address }}
              span.price
                | {{ accommodation.price }} {{ accommodation.hotel_currency_code}}
            li.rating
              | {{ accommodation.stars }} 
              span(style="font-size=10px; color:rgb(140,140,140)")
                | ({{ accommodation.review_nr }})
              | {{ accommodation.review_score_word }}
            //- TODO: Add ammenaties
        div.btn.prev(v-on:click="prev")
          | Previous
        div.btn.next(v-on:click="next")
          | Next
      section#thingstodo(v-show='section == 3')
        div.title
          | Chose things to see
        div(class='option' v-for='todo in thingstodo' @click="select('todo', todo, $event)")
          div(style='display: inline-block;')
            | {{ todo.name }}
            | {{ todo.location }}
        div.btn.prev(v-on:click="prev")
          | Previous
        div.btn.next(v-on:click="next")
          | Next
      section#events(v-show='section == 4')
        div.title
          | Chose events
        div(class='option' v-for='event in events' @click="select('event', event, $event)")
          div(style='display: inline-block;')
            | {{ event.name }} :
            | {{ event.startTime }}
            | {{ event.endTime }}
            | {{ event.location }}
        div.btn.prev(v-on:click="prev")
          | Previous
        div.btn.next(v-on:click="next()")
          | Next
      section#votinglink(v-if='section == 5')
        div.btn.submit(v-on:click="submit")
          | Submit
        | Copy the link and share it with your friends
        input.link(v-bind:value="votingLink" readonly)

      

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/vue')
    script(src='/js/app.js')